.contact-card {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 15px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0.2);
}

h2,
p {
  margin: 5px;
}

.botao {
  margin: 15 0px;
}
