form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  display: flex;
  gap: 10px;
}
.btn button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn button:nth-child(1) {
  background-color: rgb(14, 163, 14);
}

.btn button:nth-child(2) {
  background-color: red;
}
