* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-self: center;

  padding: 20px;
  border-radius: 8px;
  background-color: white;
}

.container h1 {
  align-self: center;
}

.btnAdd {
  border: none;
  padding: 8px 0;
  background-color: rgb(14, 136, 14);
  color: white;
  border-radius: 5px;
}
